:root {
    --white: #ededed;
    --black: #161616;
    --primary: #5d04d9;
    --secondary: #03318c;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 20px
}

body {
    font-family: "Quicksand", sans-serif;
}
/* header */
.header {
    width: 100%;
    background-color: var(--primary);
    padding: 20px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p {
    font-size: var(--xl);
    font-weight: bold;
    color: var(--white);
}
.main {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
}
/* main container */
.container {
    max-width: 1280px;
    height: 100%;
    display: flex;
    padding-top: 48px;
}
/* Products */
.products_section {
    width: 60%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products_section h1 {
    font-size: var(--xl);
    font-weight: bold;
    height: 10%;
}
.products_container {
    height: 100%;
    display: grid;
    padding: 24px 12px 24px 0;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    place-items: center;
    gap: 40px;
    overflow-y: scroll;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    height: 100%;
    background-color: var(--primary);
    border-radius: 20px;
    padding: 4px;
    color: var(--white);
}
.card img {
    width: 100%;
    height: 70%;
    border-radius: 20px;
    object-fit: cover;
}
.card p {
    padding-top: 12px;
}
.products_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.products_information img {
    width: 30px;
    height: 30px;
    margin-top: 4px;
}
.products_information img:hover {
    cursor: pointer;
}
/* Form */
.form_section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 40%;
    height: auto;
    padding-left: 40px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    gap: 16px;
    color: var(--primary);
}
.form h3 {
    font-size: var(--lg);
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
}
.input_form {
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.input_form input {
    border: 1px solid var(--primary);
    border-radius: 20px;
    padding: 4px;
    margin-top: 8px;
}
.form_buttons {
    display: flex;
    justify-content: space-around;
}
.button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--secondary);
}
.button:hover {
    cursor: pointer;
}
.button_submit {
    color: var(--white);
    background-color: var(--secondary);
}
/* Footer */
.footer {
    width: 100%;
    height: 100px;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.footer p:nth-child(1) {
    font-size: var(--xl);
    font-weight: bold;
}